<header>
    <h3><a href="../pages/index.html" class="logo">
            Fahim Taj<span class="full-name">Warul Islam</span>
        </a></h3>
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar" class="menu-icon">☰</label>

    <nav class="navbar">
        <a href="../pages/about.html">About</a>
        <a href="../pages/experience.html">Experience</a>
        <a href="../pages/certificates.html">Certificates</a>
        <a href="../pages/education.html">Education</a>
        <a href="../pages/projects.html">Projects</a>
        <a href="../pages/blogs.html">Blogs</a>
        <a href="../pages/contact.html">Contact</a>
    </nav>
</header>